/*
-------------------------------------------------------------
------------------------FONT----------------------------
-------------------------------------------------------------
*/

:root {
  --bg: #0d0d0d;
  --zone: #595959;
  --green1: #053c00;
  --green2: #6f8c42;
  --green3: #1d3500;
}

/*
-------------------------------------------------------------
------------------------CSS GLOBAL---------------------------
-------------------------------------------------------------
*/

* {
  box-sizing: border-box;
  cursor: none;
}

html,
body {
  overflow-x: hidden;
}

body {
  font-family: "Noto Serif", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;

  text-align: center;
  margin: 0;
  font-size: 16px;
  background: radial-gradient(
      circle at center,
      rgba(0, 255, 30, 0.035),
      transparent 65%
    ),
    #001104;
}

.cursor-orbit {
  position: fixed;
  z-index: 9999;
  pointer-events: none;
  width: 20px;
  height: 20px;
  background: #222;
  border: 2px solid lime;
  border-radius: 50%;
  transform: translate(-50%, -50%);
  transition: transform 0.2s ease;
}

.cursor-orbit.hovered {
  transform: translate(-50%, -50%) scale(1.3);
  background: #22222260;
}

.satellite {
  width: 6px;
  height: 6px;
  background: lime;
  border-radius: 50%;
  position: absolute;
  top: -12px;
  left: 50%;
  transform-origin: center 30px;
  animation: orbit 1s linear infinite;
}

.cursor-orbit.clicked {
  animation: pulse 0.3s ease-out;
}

@keyframes orbit {
  0% {
    transform: rotate(0deg) translateX(10px);
  }
  100% {
    transform: rotate(360deg) translateX(10px);
  }
}

@keyframes pulse {
  0% {
    transform: translate(-50%, -50%) scale(1);
  }
  50% {
    transform: translate(-50%, -50%) scale(1.4);
  }
  100% {
    transform: translate(-50%, -50%) scale(1);
  }
}

footer {
  color: white;
  padding: 1px;
  margin-bottom: 0;
  font-size: 15px;
}

.container-section {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
  margin: 0;
  width: 100%;
}

a,
i,
button,
[role="button"],
input[type="submit"],
input[type="button"] {
  cursor: none;
}
/*
-------------------------------------------------------------
-----------------------SECTION HERO--------------------------
-------------------------------------------------------------
*/

.container-hero {
  width: 100%;

  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
  text-align: left;
  padding: 50px;
}

.container-img-slide {
  display: flex;
  flex-direction: row;
  width: 75vw;
  min-height: 70vh;
}

.hero-illustration {
  width: 50%;

  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.image-wrapper {
  position: relative;
  width: 100%;
  height: auto;
}

.base-image {
  width: 100%;
  height: auto;
  object-fit: cover;
  display: block;
}

.steam {
  position: absolute;
  width: 8%;
  left: 28%; /* Ajuste horizontalement */
  top: 51%; /* Ajuste verticalement */
  z-index: 10;
  pointer-events: none;
}

#steam1,
#steam2,
#steam3 {
  animation: steam-rise 6s ease-in-out infinite;
  transform-origin: center;
  opacity: 0.6;
}

/* Décalage de l'animation pour chaque steam */
#steam2 {
  animation-delay: 2s;
}
#steam3 {
  animation-delay: 4s;
}

@keyframes steam-rise {
  0% {
    transform: translateY(0px) scaleX(0.8);
    opacity: 0;
  }
  10% {
    transform: translateY(-1px) scaleX(0.85);
    opacity: 0.1;
  }
  20% {
    transform: translateY(-4px) scaleX(0.9);
    opacity: 0.3;
  }
  30% {
    transform: translateY(-6px) scaleX(0.95);
    opacity: 0.7;
  }
  50% {
    transform: translateY(-12px) scaleX(1);
    opacity: 1;
  }
  70% {
    transform: translateY(-16px) scaleX(0.95);
    opacity: 0.7;
  }
  80% {
    transform: translateY(-18px) scaleX(0.9);
    opacity: 0.3;
  }
  90% {
    transform: translateY(-20px) scaleX(0.85);
    opacity: 0.1;
  }
  100% {
    transform: translateY(-24px) scaleX(0.8);
    opacity: 0;
  }
}

.hero-slide {
  width: 50%;
  opacity: 0;
  border-radius: 30px;
  pointer-events: none;
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: left;

  margin-bottom: 30px;
}

.hero-slide h1 {
  font-family: "Tangerine", cursive;
  font-weight: 700;
  font-style: normal;
  font-size: 100px;
  margin: 0;
  margin-left: -25px;

  position: relative;
}

.hero-slide h2 {
  position: relative;
  font-family: "Tangerine", cursive;
  font-weight: 700;
  font-style: normal;
  font-size: 80px;
}

.hero-slide h3,
h4 {
  font-size: 30px;

  background: linear-gradient(
    -45deg,
    #003213 0%,
    #317a00 20%,
    #66ff33 40%,
    #265636 60%,
    #11a600 80%,
    #b6ff00 100%
  );
  background-size: 300% auto;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;

  animation: greenFlow 8s ease infinite;
  margin: 0;
}

.hero-slide.active {
  opacity: 1;
  pointer-events: all;
  position: relative;
  transition: opacity 0.5s;
}

#slide-home {
  color: white;
  gap: 15px;
}

#slide-home h1 {
  margin-top: 30px;
}

.texte-about {
  margin-top: 0;
  margin-bottom: 15px;
}

#slide-about {
  padding: 60px 20px;
  max-width: 800px;
}

.titre-avec-ligne {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 15px;
  height: 150px;
}

.ligne-verte {
  width: 60px;
  height: 3px;
  background: linear-gradient(to right, green, #1be425);
  border-radius: 2px;
  flex-shrink: 0;
}

@keyframes fadeInUp {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.groupe-projet {
  display: flex;
  flex-wrap: wrap; /* permet de passer à la ligne */
  justify-content: left;
  gap: 20px;
  max-width: 500px;
  margin: 0;
}

.carre-projet {
  width: 175px; /* largeur fixe */
  height: 125px; /* hauteur fixe */
  position: relative;
  background: rgba(10, 20, 10, 0.85); /* vert très sombre transparent */
  border: 1px solid #1be42523;
  border-radius: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  cursor: pointer;
  overflow: hidden;
  transition: all 0.35s ease;
}

/* Hover lumineux */
.carre-projet:hover {
  border-color: #1be425;
  box-shadow: 0 0 8px #1be425, 0 0 18px #1be4259f,
    inset 0 0 15px rgba(2, 114, 17, 0.6);
  transform: translateY(-6px) scale(1.03);
}

/* Texte avec gradient vert animé */
.carre-projet h4,
.carre-projet span,
.carre-projet p {
  font-size: 1.12rem;
  text-align: center;

  background: linear-gradient(
    -45deg,
    #003213 0%,
    #317a00 20%,
    #66ff33 40%,
    #265636 60%,
    #11a600 80%,
    #b6ff00 100%
  );
  background-size: 300% auto;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;

  animation: greenFlow 8s ease infinite;
  z-index: 1;
  position: relative;
}

/* Overlay sombre subtil */
.carre-projet::before {
  content: "";
  position: absolute;
  inset: 0;
  background: linear-gradient(rgba(0, 0, 0, 0.35), rgba(0, 0, 0, 0.45));
  pointer-events: none;
}

.rang-principal {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  gap: 20px;
  padding: 10px;
  margin-bottom: 20px;
}

.competence-principal {
  font-size: 50px;
  width: 80px;
  height: 80px;
  background: #111;
  color: white;
  border-radius: 50%;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.competence-principal svg {
  width: 66%;
  height: auto;
  display: block;
  margin: 0 auto;
}

.competence-principal::before {
  content: "";
  position: absolute;
  inset: -4px;
  background: linear-gradient(
    45deg,
    rgb(0, 72, 0),
    green,
    rgb(0, 255, 0),
    green,
    rgb(0, 72, 0)
  );
  background-size: 300% 300%;
  animation: border-rainbow 5s ease-in-out infinite;
  z-index: -1;
  border-radius: 50%;
}

@keyframes border-rainbow {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.rang-secondaire {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  gap: 20px;
  padding: 10px;
  flex-wrap: wrap;
  opacity: 0.7;
  overflow: visible;
}

.competence-secondaire {
  font-size: 25px;
  width: 45px;
  height: 45px;
  background: #111111;
  color: white;
  border-radius: 50%;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.competence-secondaire::before {
  content: "";
  position: absolute;
  inset: -4px;
  background: linear-gradient(
    45deg,
    rgb(0, 72, 0),
    green,
    rgb(0, 255, 0),
    green,
    rgb(0, 72, 0)
  );
  background-size: 300% 300%;
  animation: border-rainbow 5s ease-in-out infinite;
  z-index: -1;
  border-radius: 50%;
}

.competence-principal::after,
.competence-secondaire::after {
  content: attr(data-label);
  position: absolute;
  bottom: 120%;
  left: 50%;
  transform: translateX(-50%);
  background: rgba(0, 0, 0, 0.8);
  border: 1px solid rgba(255, 255, 255, 0.2);
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.4);
  color: #fff;
  padding: 6px 10px;
  border-radius: 5px;
  font-size: 15px;
  white-space: nowrap;
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.2s ease-in-out;
  z-index: 100;
}

.competence-principal:hover::after,
.competence-secondaire:hover::after {
  opacity: 1;
}

.icone-non-trouvable {
  font-size: 15px;
}

.barre-reseaux {
  display: flex;
  align-items: center;
  gap: 15px;
}

.barre-icone-reseau {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 15px;
}

.barre-icone-reseau p {
  color: white;
  margin: 0;
}

.barre-icone-reseau a {
  color: white;
  margin: 0;
}

.info-contact {
  border-radius: 10px;
  width: fit-content;
  padding: 10px 10px;
}

.icone-reseau {
  font-size: 20px;
  color: white;
  background-color: #333;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  padding: 15px;
  transition: all 0.3s ease;
  box-shadow: 0 0 0 rgba(255, 255, 255, 0);
}

a:hover .icone-reseau {
  background-color: #1be425;
  color: black;
  transform: scale(1.1);
  box-shadow: 0 0 10px rgba(0, 200, 83, 0.6);
}

#slide-contact a {
  text-decoration: none;
  color: #1be425;
}

#slide-contact a:hover {
  transition: color 0.25s;
  text-decoration: none;
  color: green;
}

.barre-du-bas {
  margin-top: 20px;
  width: 75%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.barre-icone {
  background: rgba(10, 20, 10, 0.85);
  box-shadow: 0 2px 8px rgba(255, 255, 255, 0.2);
  border-radius: 40px;
  padding: 10px 20px;
  display: flex;
  gap: 30px;
}

.barre-icone a {
  color: #ffffff;
  font-size: 24px;
  text-decoration: none;
  transition: color 0.3s;
}

.barre-icone a:hover {
  color: #1be425;
  transform: scale(1.1);
}

.barre-icone a.active {
  color: #1be425;
  transform: scale(1.1);
}

.fleche-gauche,
.fleche-droite {
  background: none;
  border: none;
  color: white;
  font-size: 1.5rem;
  transition: transform 0.2s;
}

.fleche-gauche:hover,
.fleche-droite:hover {
  transform: scale(2);
}

/*
-------------------------------------------------------------
-----------------SECTION PROJETS----------------------
-------------------------------------------------------------
*/

.container-onglets {
  display: grid;
  width: 100%;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  justify-content: center;
  gap: 25px;
}

.carte-categorie {
  width: auto;
  height: 200px;
  position: relative;
  background: rgba(10, 20, 10, 0.85); /* vert très sombre transparent */
  border: 1px solid #1be42523;
  border-radius: 15px;
  padding: 30px 40px;
  cursor: pointer;
  overflow: hidden;
  transition: all 0.35s ease;
}

/* Effet lumineux au hover */
.carte-categorie:hover {
  box-shadow: 0 0 8px #1be425, 0 0 18px #1be4259f,
    inset 0 0 15px rgba(2, 114, 17, 0.6);
  transform: translateY(-6px) scale(1.03);
}

/* Texte avec gradient animé dans les verts */
.carte-categorie h3 {
  font-family: "Noto Serif", serif;
  font-size: 1.5rem;
  text-align: center;
  letter-spacing: 2px;

  background: linear-gradient(
    -45deg,
    #003213 0%,
    #317a00 20%,
    #66ff33 40%,
    #265636 60%,
    #11a600 80%,
    #b6ff00 100%
  );
  background-size: 300% auto;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;

  animation: greenFlow 8s ease infinite;
}

/* Animation lente, organique */
@keyframes greenFlow {
  0% {
    background-position: 0% center;
  }
  50% {
    background-position: 100% center;
  }
  100% {
    background-position: 0% center;
  }
}

/* Overlay sombre subtil */
.carte-categorie::before {
  content: "";
  position: absolute;
  inset: 0;
  background: linear-gradient(rgba(0, 0, 0, 0.35), rgba(0, 0, 0, 0.45));
  pointer-events: none;
}

#projets {
  flex-direction: column;
  padding: 20px;
  width: 100%;
}

.section-label {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  margin: 2rem 0;
}

.section-label .line {
  height: 2px;
  width: 20px;
  background-color: green;
}

.label-text {
  color: white;
  font-weight: 900;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-size: 20px;
}

.carte-projet {
  position: relative;
  width: 25%;
  height: 250px;
  background-color: black;
  border-radius: 15px;
  overflow: hidden;
  cursor: pointer;
  border: 1px solid #0da11483;
  padding: 0; /* on utilise l'image comme fond, donc pas de padding */
  transition: all 0.35s ease;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.container-projets {
  display: flex;
  flex-wrap: nowrap;
  width: 100%;
  height: 100%;
  justify-content: center;
  margin-top: 40px;
  gap: 25px;
}

.hidden {
  display: none;
}

.carte-projet img {
  object-fit: cover;
  display: block;
  width: 100%;
  height: 100%;
  transition: transform 0.3s ease, filter 0.3s ease;
  filter: saturate(0%);
}

.carte-projet:hover img {
  transform: scale(1.05);
  filter: brightness(0.3);
  filter: saturate(100%);
}

.overlay-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 75px;
  padding: 6px 10px;
  border-radius: 4px;
  opacity: 0;
  text-align: center;

  /* Gradient vert animé */
  background: linear-gradient(
    -45deg,
    #003213 0%,
    #317a00 20%,
    #66ff33 40%,
    #265636 60%,
    #11a600 80%,
    #b6ff00 100%
  );
  background-size: 300% auto;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;

  animation: greenFlow 8s ease infinite;
  transition: opacity 0.3s ease;
  z-index: 1;
}

.carte-projet:hover .overlay-text {
  opacity: 1;
}

/*
-------------------------------------------------------------
-----------------SECTION POP-UP----------------------
-------------------------------------------------------------
*/

.popup-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.7);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 9990;
  cursor: none;
}

.popup-content {
  background: rgba(15, 15, 15, 0.75);
  width: 750px;
  max-height: 100vh;
  overflow-y: auto;
  overflow-x: hidden;
  padding: 30px;
  position: relative;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
}

.container-popup-text {
  color: white;
  padding: 20px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: left;
}

.popup-titre {
  width: 100%;
  color: white;
  font-size: 25px;
}

.ligne-verte-popup {
  position: relative;
  width: 60px;
  height: 3px;
  background: linear-gradient(to right, green, #1be425);
  border-radius: 2px;
}

.ligne-verte-client {
  position: relative;
  width: 200px;
  height: 3px;
  background: linear-gradient(to right, green, #1be425);
  border-radius: 2px;
}

.client-avec-ligne {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0;
}

.popup-infos {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  width: 100%;
  gap: 20px;
}

.info-text {
  flex: 2;
  min-width: 0;
  font-size: 16px;
  font-weight: normal;
  line-height: 22px;
  word-wrap: break-word;
  overflow-wrap: break-word;
  flex-direction: column;
}

.info-text-container {
  display: flex;
  flex-direction: column;
  flex: 2;
  min-width: 0;
  font-size: 16px;
  font-weight: normal;
  line-height: 22px;
  word-wrap: break-word;
  overflow-wrap: break-word;
}

.custom-list {
  font-size: 13px;
  padding-left: 20px; /* espace entre la bordure et les puces */
  margin: 0; /* supprime le margin par défaut du ul */
}

.custom-list li {
  margin: 0; /* supprime le margin par défaut du li */
  padding: 0; /* supprime le padding si nécessaire */
}

.custom-list li p {
  margin: 2px 0; /* réduit l’espace vertical entre les p à l’intérieur des li */
}
.info-projet {
  font-size: 14px;
  flex: 2;
  min-width: 0;
}

.info-projet a {
  color: white;
}

.info-projet a:hover {
  color: green;
}

.mini-titre {
  color: rgb(0, 253, 0);
}

.url-site {
  color: rgb(95, 255, 95);
}

.container-popup-images {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.image-popup {
  width: 80%;
  margin-top: 40px;
  border-radius: 10px;
  border: 2px solid rgba(255, 255, 255, 0.306);
  box-shadow: 0 0 15px rgba(255, 255, 255, 0.2);
  transition: transform 0.3s ease, box-shadow 0.3s ease, border-color 0.3s ease;
}

.image-popup:hover {
  transform: scale(1.02);
  box-shadow: 0 0 25px rgba(255, 255, 255, 0.4);
  border-color: rgba(255, 255, 255, 0.6);
}

.popup-close {
  position: absolute;
  top: 15px;
  right: 20px;
  background: transparent;
  color: white;
  border: none;
  font-size: 50px;
}
.popup-close:hover {
  transform: translateY(-2px) scale(1.02);
  color: #1be425;
}

.video-projet {
  width: 100%;
  max-width: 800px;
  border-radius: 12px;
  margin-top: 40px;
  border: 2px solid rgba(255, 255, 255, 0.306);
  box-shadow: 0 0 15px rgba(255, 255, 255, 0.2);
  transition: transform 0.3s ease;
}

.video-projet:hover {
  transform: scale(1.01);
  box-shadow: 0 0 25px rgba(255, 255, 255, 0.4);
  border-color: rgba(255, 255, 255, 0.6);
}

.popup-videos {
  margin-top: 40px;
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.client-section {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.client-title {
  font-size: 1.8rem;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 0.05em;
}

.videos-row {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 16px;
}

.videos-row iframe {
  width: 100%;
  aspect-ratio: 9 / 16;
  border: none;
  border-radius: 12px;
  background: #000;
}

.hidden {
  display: none;
}

/*
-------------------------------------------------------------
-----------------Media querys----------------------
-------------------------------------------------------------
*/

@media (max-width: 1200px) {
  body {
    font-size: 18px;
  }

  .container-projets {
    grid-template-columns: repeat(2, 1fr);
  }

  .cursor-orbit {
    display: none;
  }

  .container-hero {
    justify-content: flex-start;
    padding: 25px;
  }

  .hero-illustration {
    width: 60%;
  }

  .hero-slide {
    width: 100%;
    height: 60%;
    text-align: center;
  }

  .hero-slide h1 {
    font-size: 80px;
    margin: 0;
  }

  .hero-slide h2 {
    font-size: 70px;
    position: relative;
  }

  .hero-slide h3,
  h4 {
    font-size: 25px;
  }

  #slide-about {
    justify-content: center;
    align-items: center;
    width: 90%;
    padding: 0;
  }

  #slide-projet {
    justify-content: center;
    align-items: center;
  }

  #slide-competence {
    align-items: center;
    width: 90%;
  }

  .rang-secondaire {
    justify-content: center;
    width: 100%;
  }

  #slide-contact {
    align-items: center;
  }

  .groupe-projet {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 90%;
    gap: 20px;
    flex-wrap: wrap;
  }

  .carre-projet {
    width: 200px;
    height: 100px;
  }

  .titre-avec-ligne {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 15px;
  }

  .competence-principal {
    width: 60px;
    height: 60px;
    font-size: 40px;
  }
  h2 {
    margin-bottom: 15px;
  }

  .container-img-slide {
    flex-direction: column-reverse;
    align-items: center;
    justify-content: flex-end;
    gap: 20px;
    width: 90%;
    margin-top: 20px;
    min-height: 50vh;
  }
}

@media (max-width: 1024px) {
  .container-onglets {
    grid-template-columns: repeat(2, 1fr);
  }

  .container-projets {
    grid-template-columns: repeat(2, 1fr);
    flex-wrap: wrap;
  }

  .carte-projet {
    width: 45%;
  }

  .carte-categorie h3 {
    font-size: 25px;
  }

  .carte-categorie {
    padding: 10px;
  }

  .hero-slide h2 {
    font-size: 60px;
  }

  .hero-slide h3,
  h4 {
    font-size: 20px;
  }

  .hero-illustration {
    width: 70%;
  }

  .container-hero {
    width: 100%;
    font-size: 17px;
  }

  .info-contact {
    font-size: 17px;
  }

  .rang-principal {
    gap: 10px;
    padding: 5px;
    margin-bottom: 10px;
  }

  .competence-principal {
    width: 50px;
    height: 50px;
    font-size: 30px;
  }

  .competence-secondaire {
    width: 40px;
    height: 40px;
    font-size: 20px;
  }

  .icone-non-trouvable {
    font-size: 13px;
  }
}

@media (max-width: 768px) {
  .container-onglets {
    width: 100%;
  }

  .carte-categorie {
    height: 125px;
    gap: 10px;
  }

  .carte-projet {
    width: 45%;
    height: 200px;
  }

  .carte-categorie h3 {
    font-size: 22px;
    letter-spacing: 0.5px;
  }

  .container-projets {
    width: 100%;
  }

  .hero-slide h1 {
    font-size: 65px;
  }

  p {
    font-size: 14px;
  }

  .icone-reseau {
    font-size: 20px;
    width: 45px;
    height: 45px;
    padding: 13px;
  }

  .barre-du-bas {
    width: 75%;
    gap: 0.8rem;
  }

  .barre-icone {
    padding: 10px 20px;
    gap: 20px;
  }

  .barre-icone a {
    font-size: 18px;
  }

  .hero-illustration {
    width: 80%;
  }

  .popup-infos {
    flex-direction: column;
  }

  .info-text {
    font-size: 16px;
    width: 100%;
  }

  .info-projet {
    font-size: 16px;
    min-width: 0;
    width: 100%;
  }

  footer p {
    font-size: 14px;
  }

  .competence-principal {
    width: 40px;
    height: 40px;
    font-size: 25px;
  }

  .competence-secondaire {
    width: 30px;
    height: 30px;
    font-size: 17px;
  }

  .icone-non-trouvable {
    font-size: 10px;
  }
}

@media (max-width: 550px) {
  .carte-projet {
    width: 45%;
    height: 150px;
  }

  .carte-categorie h3 {
    font-size: 18px;
  }

  .carte-categorie {
    padding: 0px;
  }

  p {
    font-size: 15px;
  }
  .hero-illustration {
    width: 90%;
  }

  .carre-projet {
    width: 125px;
    height: 80px;
    font-size: 13px;
  }

  .info-text {
    font-size: 15px;
  }
  footer {
    font-size: 10px;
  }
}

@media (max-width: 450px) {
  .hero-illustration {
    width: 90%;
  }
  footer p {
    font-size: 11px;
  }
}

@media (max-width: 900px) {
  .videos-row {
    grid-template-columns: 1fr;
  }
}
